<style type="text/css">
	div#qr, div#content{
  margin: 0 auto;
  text-align: center;
	}

	div#content{
  margin-top: 30px;
	}
</style>

<div id="content">
	<h1>API Test</h1>
	<div id="qr">
	</div>
	<br/>
	<br/>
	<br/>
	<%= link_to "/api/get_gid", "/api/get_gid", target: "_blank" %><br/><br/>
	<%= link_to "/api/upload", "/test/photo.html", target: "_blank" %><br/><br/>
	
	<%= form_tag "/api_test/assign_url" do %>
	<p>
		<%= label_tag :assigned_image_url %>
		<%= text_field_tag :assigned_url, session[:assigned_url] %>
	</p>
	<p>
		<%= submit_tag %>
		<% end %>
		<% if session[:assigned_url].present? %>
		<%= render partial:  "api_test" %>
		<% end %>
</div>
<script src="/js/ws_test.js"></script>
